<!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nexttheme">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Page Title -->
    <title>Gray - Creative Portfolio HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="icon" href="img/favicon.png">
    <!-- Google Fonts -->
    <link href="../../../../fonts.googleapis.com/css18f2.css?family=Inconsolata:400,700|Rajdhani:300,400,500,600,700" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <!-- Start Preloader -->
  <div id="p-preloader">
    <div class="p-preloader-wave"></div>
  </div>
  <!-- End Preloader -->
  
    <!-- Start Site Header -->
    <header class="site-header">
      <div class="container header-wrap">
          <div class="site-branding">
            <!-- For Image Logo -->
            <!-- <a href="index.html" class="custom-logo-link">
              <img src="img/logo.png" alt="" class="custom-logo">
            </a> -->
            <!-- For Site Title -->
            <span class="site-title">
              <a href="index.html">Gray</a>
            </span>
          </div>
          <nav class="primary-nav">
            <ul class="primary-nav-list">
              <li class="menu-item menu-item-has-children"><a href="#">HOME</a>
                <ul>
                  <li class="menu-item"><a href="index.html">HOME 1</a></li>
                  <li class="menu-item"><a href="home-1.html">HOME 2</a></li>
                  <li class="menu-item"><a href="home-2.html">HOME 3</a></li>
                  <li class="menu-item"><a href="home-3.html">HOME 4</a></li>
                  <li class="menu-item"><a href="home-3.html">HOME 5</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="about.html">ABOUT</a></li></li>
              <li class="menu-item menu-item-has-children"><a href="#">PORTFOLIO</a>
                <ul>
                  <li class="menu-item"><a href="portfolio-masonry.html">PORTFOLIO MASONRY</a></li>
                  <li class="menu-item"><a href="portfolio-even-grid.html">PORTFOLIO EVEN</a></li>
                  <li class="menu-item"><a href="portfolio-single.html">PORTFOLIO SINGLE</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children"><a href="#">BLOG</a>
                <ul>
                  <li class="menu-item"><a href="blog.html">BLOG GRID</a></li>
                  <li class="menu-item"><a href="blog-single.html">BLOG SINGLE</a></li>
                </ul>
              </li>
              <li class="menu-item current-menu-item"><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
      </div><!-- .header-wrap -->
    </header>
    <!-- End Site Header -->

    <!-- page title -->
    <div class="page-title">
        <div class="overlay"></div>
        <nav class="text-center animated fadeInUp visible">
            <h3>GET IN TOUCH WITH US</h3>
            <a class="breadcrumb-item" href="index.html">HOME // </a>
            <span class="breadcrumb-item active"> CONTACT </span>
        </nav>
    </div>
    <!-- page title -->

    <!-- Contact us -->
    <section id="contact" class="contact">
        <!-- who-we-are -->
        <div class="container">
            <!-- content row -->
            <div class="row text-center pad-tb-40">
                <!-- col-md-4 -->
                <div class="col-md-4 animated fadeInLeft visible">
                    <h4>E-MAIL</h4>
                    <div class="contact-details pad-tb-20">
                        <p>Best support via email</p>
                        <p>info@yoursite.com</p>
                    </div>
                </div>
                <!-- end col-md-4 -->
                <!-- col-md-4 -->
                <div class="col-md-4 animated fadeInDown visible">
                    <h4>PHONE</h4>
                    <div class="contact-details pad-tb-20">
                        <p>Any time. We are open 24/7</p>
                        <p>+1 23456-67890</p>
                    </div>
                </div>
                <!-- end col-md-4 -->
                <!-- col-md-4 -->
                <div class="col-md-4 animated fadeInRight visible">
                    <h4>ADDRESS</h4>
                    <div class="contact-details pad-tb-20">
                        <p>Upper Level, Overseas Passanger</p>
                        <p>Terminal, The Rocks, Sydney 2000</p>
                    </div>
                </div>
                <!-- end col-md-4 -->

                <!-- end content row -->
                <!-- contact -->
                <div class="col-md-8 col-md-offset-2 animated zoomIn visible contact-form">
                    <!-- Form Begins -->
                    <form name="bootstrap-form" id="bootstrap-form" method="post" action="http://catchpixel.com/html/Gray/php/contact-form.php">

                        <div class="row form-row pad-tb-40">
                            <div class="col-md-4 contact-fields">
                                <!-- Field 1 -->
                                <div class="input-text form-group">
                                    <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name *" />
                                </div>

                            </div>
                            <div class="col-md-4 contact-fields">
                                <!-- Field 2 -->
                                <div class="input-email form-group">
                                    <input type="email" name="contact_email" class="input-email form-control" placeholder="Email *" />
                                </div>

                            </div>
                            <div class="col-md-4 contact-fields">
                                <!-- Field 3 -->
                                <div class="input-email form-group">
                                    <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone *" />
                                </div>
                            </div>

                            <div class="col-md-12 contact-fields">
                                <!-- Field 4 -->
                                <div class="textarea-message form-group">
                                    <textarea name="contact_message" class="textarea-message form-control" placeholder="Your Comments *" rows="9"></textarea>
                                </div>
                            </div>
                            <div class="button cta">
                                <!-- Button -->
                                <button class="btn btn-lg btn-default send-btn" type="submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- end container -->
    </section>
    <!-- contact section -->
    <div class="map-section">
		 <div class="container-fluid no-pad">
			<div class="map-canvas"
				data-zoom="12"
				data-lat="-35.2835"
				data-lng="149.128"			  
				data-type="roadmap"
				data-hue="blue"
				data-title="Austin"
				data-content="Company Name<br>
				Contact: +012 (345) 6789<br>
				<a href='mailto:info@youremail.com'>info@youremail.com</a>">
			</div>
		</div>
	</div>		
	<!-- map -->

    <!-- Back to Top -->
    <a href="#" id="back-to-top" title="Back to top" class="show"></a>

    <!-- Start Footer -->
    <footer class="custom-footer">
        <div class="container">
            <div class="copyright">
                <p>Copyright &copy; 2017 Gray. All Rights Reserved. Designed by <a href="../../../../Nexttheme.com/index.html" target="_blank">Nexttheme</a>.</p>
            </div>
            <ul class="list-inline f-social pad-top-20">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble"></i>Dribbble</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i>Google+</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i>Linkedin</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>